* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b2ebf2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 360px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input{
    background-color: lightgreen;
    height: 60px;
    width: 300px ;
    border-radius: 10px;
    text-align: right;
    font-size: 25px;
    outline: none;
    border: 2px solid black;
    font-weight: 500;
    padding: 5px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    height: 330px;
    width: 340px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.selectKey{
    background-color: black !important;
    color: #fff !important;
    margin: 10px !important;
    height: 40px;
    width: 60px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.clr{
    width:300px;
}

/* Responsive */
@media screen and (max-width : 400px){
    .box {
        max-height: 430px;
        max-width: 330px;
    }
}

@media screen and (max-width : 342px){
    .box {
        max-height: 370px;
        max-width: 240px;
    }
    input{
        height: 60px;
        width: 210px ;
    }
    .key {
        height: 330px;
        width: 250px;
    }
    .selectKey{
        margin: 5px !important;
        height: 40px;
        width: 45px;
    }
    .clr{
        width:210px;
    }
}